@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --col--Neutral-light--100: hsl(0, 0%, 100%);
  --col--Neutral-light--120: hsl(300, 1%, 81%);
  --col--Neutral-dark--500: hsl(279, 6%, 55%);
  --col--Neutral-dark--900: hsl(278, 68%, 11%);

  --font-size--base: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input:hover {
  -webkit-appearance: none;
}

:-ms-input-placeholder {
  color: var(--col--Neutral-dark--500);
}

body {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    135deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 48%,
    rgb(255, 255, 255) 48%
  );
}

section {
  width: 50%;
  height: 100vh;
}

.sec-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  justify-content: center;
  margin-right: 2rem;
}

.sec-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 74%;
}

.sec-form form input {
  width: 80%;
  height: 40px;
  border: 2px solid var(--col--Neutral-light--120);
  border-radius: 5px;
  margin: 10px 2px;
  padding: 0 10px;
  font-size: var(--font-size--base);
  color: var(--col--Neutral-dark--500);
}

.sec-form form #date {
  display: flex;
}

.sec-form form input[type="submit"] {
  background-color: var(--col--Neutral-dark--900);
  color: var(--col--Neutral-light--100);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.sec-form form input[type="submit"]:hover {
  background-color: rgb(85, 85, 85);
}

.card {
  width: 23rem;
  height: 13.3rem;
  border-radius: 10px;
  padding: 0.5rem;
}

#card1 {
  background: rgb(205, 170, 255);
  background: linear-gradient(
    135deg,
    rgba(205, 170, 255, 1) 10%,
    rgba(233, 38, 255, 1) 34%,
    rgba(255, 228, 58, 1) 100%,
    rgba(97, 111, 255, 1) 100%
  );

  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

#card1 #ic {
  margin-bottom: 3rem;
  font-size: 2rem;
}

#card1 #cn-info {
  display: flex;
  justify-content: space-between;
  margin: 0rem 1rem;
}

#card1 #card-show {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 1.5rem;
  margin-right: 4rem;
}

#card2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(0, 0, 0, 1) 9%,
    rgba(47, 47, 47, 1) 14.000000000000002%,
    rgba(47, 47, 47, 1) 31%,
    rgba(227, 227, 227, 1) 31%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#card2 #cvv-view {
  background-color: var(--col--Neutral-dark--500);
  width: 80%;
  height: 20%;

  color: var(--col--Neutral-light--120);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
